Repository matanlurey/pub.lurey.dev: changes, and which Codecov flags are due for each by the changed paths.
All: chore, iota, jsonut, lore, mansion, oath, proc, quirk, sdk, strink

Move generate command into package:chore for reuse.
  dev/bin/dev.dart
  packages/chore/lib/chore.dart
  packages/chore/lib/src/command/generate.dart
  packages/chore/lib/src/command/generators/changelog_header.dart
  packages/chore/lib/src/command/generators/github_package_workflow.dart
  packages/chore/lib/src/command/generators/package_readme.dart
  packages/chore/lib/src/command/generators/root_readme.dart
  packages/chore/lib/src/command/generators/sinks/file_sink.dart
  packages/chore/lib/src/runner.dart
Due: chore

Add startInteractive and RegExp search.
  packages/chore/lib/chore.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/command/dartdoc.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/environment.dart
  packages/chore/lib/src/interactive.dart
  packages/chore/pubspec.yaml
Due: chore

Add `startInteractive` and RegExp search (`-x chore`). (#24)
  packages/chore/lib/chore.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/command/dartdoc.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/environment.dart
  packages/chore/lib/src/interactive.dart
  packages/chore/pubspec.yaml
Due: chore

Update package:quirk and package:chore.
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/package.dart
  packages/chore/lib/src/preview.dart
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/quirk.dart
  packages/quirk/lib/src/iterable_extension.dart
  packages/quirk/lib/src/map_extension.dart
  packages/quirk/test/iterable_extension_test.dart
  packages/quirk/test/map_extension_test.dart
  packages/quirk/test/src/inefficient_length_iterable.dart
Due: chore, quirk

Update `package:quirk` and `package:chore`. (#25)
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/package.dart
  packages/chore/lib/src/preview.dart
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/quirk.dart
  packages/quirk/lib/src/iterable_extension.dart
  packages/quirk/lib/src/map_extension.dart
  packages/quirk/test/iterable_extension_test.dart
  packages/quirk/test/map_extension_test.dart
  packages/quirk/test/src/inefficient_length_iterable.dart
Due: chore, quirk

Update dependencies to publish.
  packages/lodim/CHANGELOG.md
  packages/lodim/pubspec.yaml
  packages/omen/CHANGELOG.md
  packages/omen/pubspec.yaml
  packages/quirk/pubspec.yaml
  packages/trove/CHANGELOG.md
  packages/trove/pubspec.yaml
Due: quirk

Redo with a nicer structure, still WIP
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/quirk.dart
  packages/quirk/lib/src/collection.dart
  packages/quirk/lib/src/collection/iterable/_delegating_impl.dart
  packages/quirk/lib/src/collection/iterable/_delegating_mixin.dart
  packages/quirk/lib/src/collection/list/_delegating_impl.dart
  packages/quirk/lib/src/collection/list/_delegating_mixin.dart
  packages/quirk/lib/src/collection/map/_delegating_impl.dart
  packages/quirk/lib/src/collection/map/_delegating_mixin.dart
  packages/quirk/lib/src/collection/set/_delegating_impl.dart
  packages/quirk/lib/src/collection/set/_delegating_mixin.dart
  packages/quirk/lib/src/errors.dart
  packages/quirk/lib/src/iterable_extension.dart
  packages/quirk/lib/src/map_extension.dart
  packages/quirk/lib/src/string_extension.dart
  packages/quirk/pubspec.yaml
  packages/quirk/test/errors_test.dart
  packages/quirk/test/iterable_extension_test.dart
  packages/quirk/test/map_extension_test.dart
  packages/quirk/test/src/collection/delegating_iterable_test.dart
  packages/quirk/test/src/collection/delegating_list_test.dart
  packages/quirk/test/src/collection/delegating_map_test.dart
  packages/quirk/test/src/collection/delegating_set_test.dart
  packages/quirk/test/src/inefficient_length_iterable.dart
  packages/quirk/test/src/suite/test_iterable.dart
  packages/quirk/test/src/suite/test_list.dart
  packages/quirk/test/src/suite/test_map.dart
  packages/quirk/test/src/suite/test_set.dart
  packages/quirk/test/string_extension_test.dart
Due: quirk

Add copy on write implementations.
  packages/quirk/lib/src/collection.dart
Due: quirk

Redo package:quirk.
  packages/chore/lib/src/package.dart
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/quirk.dart
  packages/quirk/lib/src/collection/iterable/_extension.dart
  packages/quirk/lib/src/collection/list/_copy_on_write.dart
  packages/quirk/lib/src/collection/list/_extension.dart
  packages/quirk/lib/src/collection/map/_copy_on_write.dart
  packages/quirk/lib/src/collection/map/_extension.dart
  packages/quirk/lib/src/collection/set/_copy_on_write.dart
  packages/quirk/lib/src/error.dart
  packages/quirk/lib/src/string.dart
  packages/quirk/test/error_test.dart
  packages/quirk/test/src/collection/copy_on_write_list_test.dart
  packages/quirk/test/src/collection/copy_on_write_map_test.dart
  packages/quirk/test/src/collection/copy_on_write_set_test.dart
  packages/quirk/test/src/collection/iterable_extension_test.dart
  packages/quirk/test/src/collection/list_extension_test.dart
  packages/quirk/test/src/collection/map_extension_test.dart
  packages/quirk/test/string_test.dart
Due: chore, quirk

Update more dependencies.
  packages/lodim/pubspec.yaml
  packages/omen/pubspec.yaml
  packages/trove/pubspec.yaml
Due: none

More adjustments to package:quirk.
  packages/quirk/lib/src/collection.dart
  packages/quirk/lib/src/collection/list/_copy_on_write.dart
  packages/quirk/lib/src/collection/list/_delegating_impl.dart
  packages/quirk/lib/src/collection/list/_delegating_mixin.dart
  packages/quirk/lib/src/collection/list/_extension.dart
  packages/quirk/lib/src/collection/list/_read_only.dart
  packages/quirk/lib/src/collection/map/_delegating_impl.dart
  packages/quirk/lib/src/collection/map/_extension.dart
  packages/quirk/lib/src/collection/map/_read_only.dart
  packages/quirk/lib/src/collection/set/_delegating_impl.dart
  packages/quirk/lib/src/collection/set/_delegating_mixin.dart
  packages/quirk/lib/src/collection/set/_extension.dart
  packages/quirk/lib/src/collection/set/_read_only.dart
  packages/quirk/pubspec.yaml
  packages/quirk/test/src/collection/delegating_list_test.dart
  packages/quirk/test/src/collection/delegating_map_test.dart
  packages/quirk/test/src/collection/delegating_set_test.dart
  packages/quirk/test/src/collection/list_extension_test.dart
  packages/quirk/test/src/collection/map_extension_test.dart
  packages/quirk/test/src/collection/read_only_list_test.dart
  packages/quirk/test/src/collection/read_only_set_test.dart
  packages/quirk/test/src/collection/set_extension_test.dart
Due: quirk

Finish other read-only impls.
  packages/quirk/lib/src/collection/map/_copy_on_write.dart
  packages/quirk/lib/src/collection/map/_delegating_impl.dart
  packages/quirk/lib/src/collection/map/_delegating_mixin.dart
  packages/quirk/lib/src/collection/map/_read_only.dart
  packages/quirk/test/src/collection/read_only_map_test.dart
Due: quirk

Actually finalize the next version of `package:quirk`. (#27)
  packages/quirk/lib/src/collection.dart
  packages/quirk/lib/src/collection/list/_copy_on_write.dart
  packages/quirk/lib/src/collection/list/_delegating_impl.dart
  packages/quirk/lib/src/collection/list/_delegating_mixin.dart
  packages/quirk/lib/src/collection/list/_extension.dart
  packages/quirk/lib/src/collection/list/_read_only.dart
  packages/quirk/lib/src/collection/map/_copy_on_write.dart
  packages/quirk/lib/src/collection/map/_delegating_impl.dart
  packages/quirk/lib/src/collection/map/_delegating_mixin.dart
  packages/quirk/lib/src/collection/map/_extension.dart
  packages/quirk/lib/src/collection/map/_read_only.dart
  packages/quirk/lib/src/collection/set/_delegating_impl.dart
  packages/quirk/lib/src/collection/set/_delegating_mixin.dart
  packages/quirk/lib/src/collection/set/_extension.dart
  packages/quirk/lib/src/collection/set/_read_only.dart
  packages/quirk/pubspec.yaml
  packages/quirk/test/src/collection/delegating_list_test.dart
  packages/quirk/test/src/collection/delegating_map_test.dart
  packages/quirk/test/src/collection/delegating_set_test.dart
  packages/quirk/test/src/collection/list_extension_test.dart
  packages/quirk/test/src/collection/map_extension_test.dart
  packages/quirk/test/src/collection/read_only_list_test.dart
  packages/quirk/test/src/collection/read_only_map_test.dart
  packages/quirk/test/src/collection/read_only_set_test.dart
  packages/quirk/test/src/collection/set_extension_test.dart
Due: quirk

Start package:strukt.
  .github/workflows/package_strukt.yaml
  README.md
  packages/strukt/CHANGELOG.md
  packages/strukt/LICENSE
  packages/strukt/README.md
  packages/strukt/dart_test.yaml
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bool.dart
  packages/strukt/lib/src/value/_bytes.dart
  packages/strukt/lib/src/value/_double.dart
  packages/strukt/lib/src/value/_equality.dart
  packages/strukt/lib/src/value/_int.dart
  packages/strukt/lib/src/value/_list.dart
  packages/strukt/lib/src/value/_map.dart
  packages/strukt/lib/src/value/_optional.dart
  packages/strukt/lib/src/value/_string.dart
  packages/strukt/pubspec.yaml
  pubspec.yaml
Due: none

Add tests.
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bool.dart
  packages/strukt/lib/src/value/_bytes.dart
  packages/strukt/lib/src/value/_double.dart
  packages/strukt/lib/src/value/_equality.dart
  packages/strukt/lib/src/value/_int.dart
  packages/strukt/lib/src/value/_list.dart
  packages/strukt/lib/src/value/_map.dart
  packages/strukt/lib/src/value/_optional.dart
  packages/strukt/lib/src/value/_string.dart
  packages/strukt/lib/strukt.dart
  packages/strukt/pubspec.yaml
  packages/strukt/test/prelude.dart
  packages/strukt/test/value_test.dart
Due: none

Add descriptor.
  packages/strukt/lib/src/descriptor.dart
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bool.dart
  packages/strukt/lib/src/value/_int.dart
  packages/strukt/lib/strukt.dart
  packages/strukt/pubspec.yaml
  packages/strukt/test/descriptor_test.dart
  packages/strukt/test/value_test.dart
Due: none

Start an experimental `package:strukt`. (#30)
  .github/workflows/package_strukt.yaml
  README.md
  packages/strukt/CHANGELOG.md
  packages/strukt/LICENSE
  packages/strukt/README.md
  packages/strukt/dart_test.yaml
  packages/strukt/lib/src/descriptor.dart
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bool.dart
  packages/strukt/lib/src/value/_bytes.dart
  packages/strukt/lib/src/value/_double.dart
  packages/strukt/lib/src/value/_equality.dart
  packages/strukt/lib/src/value/_int.dart
  packages/strukt/lib/src/value/_list.dart
  packages/strukt/lib/src/value/_map.dart
  packages/strukt/lib/src/value/_optional.dart
  packages/strukt/lib/src/value/_string.dart
  packages/strukt/lib/strukt.dart
  packages/strukt/pubspec.yaml
  packages/strukt/test/descriptor_test.dart
  packages/strukt/test/prelude.dart
  packages/strukt/test/value_test.dart
  pubspec.yaml
Due: none

Add more functionality to package:quirk.
  packages/lodim/pubspec.yaml
  packages/omen/pubspec.yaml
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/src/collection/map/_extension.dart
  packages/quirk/lib/src/error.dart
  packages/quirk/lib/src/string.dart
  packages/quirk/pubspec.yaml
  packages/quirk/test/error_test.dart
  packages/quirk/test/src/collection/map_extension_test.dart
  packages/quirk/test/string_test.dart
  packages/trove/pubspec.yaml
Due: quirk

++
  packages/quirk/CHANGELOG.md
  packages/strukt/pubspec.yaml
Due: quirk

Add more functionality to `package:quirk`. (#31)
  packages/lodim/pubspec.yaml
  packages/omen/pubspec.yaml
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/src/collection/map/_extension.dart
  packages/quirk/lib/src/error.dart
  packages/quirk/lib/src/string.dart
  packages/quirk/pubspec.yaml
  packages/quirk/test/error_test.dart
  packages/quirk/test/src/collection/map_extension_test.dart
  packages/quirk/test/string_test.dart
  packages/strukt/pubspec.yaml
  packages/trove/pubspec.yaml
Due: quirk

Adds a builder.
  packages/strukt/lib/src/builder.dart
  packages/strukt/lib/src/builder/_value.dart
  packages/strukt/lib/src/codec.dart
  packages/strukt/lib/src/descriptor.dart
  packages/strukt/lib/src/descriptor/_indexed.dart
  packages/strukt/lib/src/descriptor/_keyed.dart
  packages/strukt/lib/src/descriptor/_list.dart
  packages/strukt/lib/src/descriptor/_map.dart
  packages/strukt/lib/src/descriptor/_one_of.dart
  packages/strukt/lib/src/descriptor/_optional.dart
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bytes.dart
  packages/strukt/lib/src/value/_equality.dart
  packages/strukt/lib/src/value/_none.dart
  packages/strukt/lib/src/value/_optional.dart
  packages/strukt/lib/strukt.dart
  packages/strukt/pubspec.yaml
  packages/strukt/test/builder_test.dart
  packages/strukt/test/descriptor_test.dart
  packages/strukt/test/value_test.dart
Due: none

++
  packages/strukt/lib/src/builder.dart
  packages/strukt/lib/src/builder/_value.dart
  packages/strukt/lib/src/codec.dart
  packages/strukt/lib/strukt.dart
  packages/strukt/test/builder_test.dart
Due: none

Update `Descriptor`, tweak a bit. (#32)
  packages/strukt/lib/src/descriptor.dart
  packages/strukt/lib/src/descriptor/_indexed.dart
  packages/strukt/lib/src/descriptor/_keyed.dart
  packages/strukt/lib/src/descriptor/_list.dart
  packages/strukt/lib/src/descriptor/_map.dart
  packages/strukt/lib/src/descriptor/_one_of.dart
  packages/strukt/lib/src/descriptor/_optional.dart
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bytes.dart
  packages/strukt/lib/src/value/_equality.dart
  packages/strukt/lib/src/value/_none.dart
  packages/strukt/lib/src/value/_optional.dart
  packages/strukt/pubspec.yaml
  packages/strukt/test/descriptor_test.dart
  packages/strukt/test/value_test.dart
Due: none

Remove package:strukt.
  README.md
  packages/strukt/CHANGELOG.md
  packages/strukt/LICENSE
  packages/strukt/README.md
  packages/strukt/dart_test.yaml
  packages/strukt/lib/src/descriptor.dart
  packages/strukt/lib/src/descriptor/_indexed.dart
  packages/strukt/lib/src/descriptor/_keyed.dart
  packages/strukt/lib/src/descriptor/_list.dart
  packages/strukt/lib/src/descriptor/_map.dart
  packages/strukt/lib/src/descriptor/_one_of.dart
  packages/strukt/lib/src/descriptor/_optional.dart
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bool.dart
  packages/strukt/lib/src/value/_bytes.dart
  packages/strukt/lib/src/value/_double.dart
  packages/strukt/lib/src/value/_equality.dart
  packages/strukt/lib/src/value/_int.dart
  packages/strukt/lib/src/value/_list.dart
  packages/strukt/lib/src/value/_map.dart
  packages/strukt/lib/src/value/_none.dart
  packages/strukt/lib/src/value/_string.dart
  packages/strukt/lib/strukt.dart
  packages/strukt/pubspec.yaml
  packages/strukt/test/descriptor_test.dart
  packages/strukt/test/prelude.dart
  packages/strukt/test/value_test.dart
  pubspec.yaml
Due: none

Initial commit, still a WIP.
  .github/workflows/package_rune.yaml
  README.md
  packages/rune/CHANGELOG.md
  packages/rune/LICENSE
  packages/rune/README.md
  packages/rune/dart_test.yaml
  packages/rune/lib/rune.dart
  packages/rune/lib/src/iterable.dart
  packages/rune/lib/src/iterable/_copy_on_write_list.dart
  packages/rune/lib/src/iterable/_delegating_iterable.dart
  packages/rune/lib/src/iterable/_delegating_list.dart
  packages/rune/lib/src/iterable/_immutable_list.dart
  packages/rune/lib/src/iterable/_read_only_list.dart
  packages/rune/lib/src/iterable/_read_only_list_view.dart
  packages/rune/pubspec.yaml
  pubspec.yaml
Due: none

Complete list/set/map.
  packages/rune/lib/rune.dart
  packages/rune/lib/src/iterable.dart
  packages/rune/lib/src/iterable/_iterable_extension.dart
  packages/rune/lib/src/list/_copy_on_write_list.dart
  packages/rune/lib/src/list/_delegating_list.dart
  packages/rune/lib/src/list/_immutable_list.dart
  packages/rune/lib/src/list/_list_extension.dart
  packages/rune/lib/src/list/_read_only_list.dart
  packages/rune/lib/src/list/_read_only_list_view.dart
  packages/rune/lib/src/map.dart
  packages/rune/lib/src/map/_copy_on_write_map.dart
  packages/rune/lib/src/map/_delegating_map.dart
  packages/rune/lib/src/map/_immutable_map.dart
  packages/rune/lib/src/map/_map_extension.dart
  packages/rune/lib/src/map/_read_only_map.dart
  packages/rune/lib/src/map/_read_only_map_view.dart
  packages/rune/lib/src/set/_copy_on_write_set.dart
  packages/rune/lib/src/set/_delegating_set.dart
  packages/rune/lib/src/set/_immutable_set.dart
  packages/rune/lib/src/set/_read_only_set.dart
  packages/rune/lib/src/set/_read_only_set_view.dart
  packages/rune/lib/src/set/_set_extension.dart
  packages/rune/test/iterable/delegating_iterable_test.dart
  packages/rune/test/iterable/iterable_extension_test.dart
  packages/rune/test/list/copy_on_write_list_test.dart
  packages/rune/test/list/delegating_list_test.dart
  packages/rune/test/list/immutable_list_test.dart
  packages/rune/test/list/list_extension_test.dart
  packages/rune/test/list/read_only_list_view_test.dart
  packages/rune/test/map/copy_on_write_map_test.dart
  packages/rune/test/map/delegating_map_test.dart
  packages/rune/test/map/immutable_map_test.dart
  packages/rune/test/map/map_extension_test.dart
  packages/rune/test/map/read_only_map_view_test.dart
  packages/rune/test/prelude.dart
  packages/rune/test/set/copy_on_write_set_test.dart
  packages/rune/test/set/delegating_set_test.dart
  packages/rune/test/set/immutable_set_test.dart
  packages/rune/test/set/read_only_set_view_test.dart
  packages/rune/test/set/set_extension_test.dart
Due: none

Complete test coverage.
  .github/workflows/package_armory.yaml
  README.md
  packages/armory/CHANGELOG.md
  packages/armory/README.md
  packages/armory/example/analysis_options.yaml
  packages/armory/example/example.dart
  packages/armory/lib/src/iterable.dart
  packages/armory/lib/src/iterable/_efficient_access_iterable.dart
  packages/armory/test/iterable/efficient_access_iterable_test.dart
  packages/chore/lib/src/context.dart
Due: chore

Merge.
  .github/workflows/package_rune.yaml
  .github/workflows/package_strukt.yaml
  packages/strukt/CHANGELOG.md
  packages/strukt/LICENSE
  packages/strukt/README.md
  packages/strukt/dart_test.yaml
  packages/strukt/lib/src/descriptor.dart
  packages/strukt/lib/src/descriptor/_indexed.dart
  packages/strukt/lib/src/descriptor/_keyed.dart
  packages/strukt/lib/src/descriptor/_list.dart
  packages/strukt/lib/src/descriptor/_map.dart
  packages/strukt/lib/src/descriptor/_one_of.dart
  packages/strukt/lib/src/descriptor/_optional.dart
  packages/strukt/lib/src/value.dart
  packages/strukt/lib/src/value/_bool.dart
  packages/strukt/lib/src/value/_bytes.dart
  packages/strukt/lib/src/value/_double.dart
  packages/strukt/lib/src/value/_equality.dart
  packages/strukt/lib/src/value/_int.dart
  packages/strukt/lib/src/value/_list.dart
  packages/strukt/lib/src/value/_map.dart
  packages/strukt/lib/src/value/_none.dart
  packages/strukt/lib/src/value/_string.dart
  packages/strukt/lib/strukt.dart
  packages/strukt/pubspec.yaml
  packages/strukt/test/descriptor_test.dart
  packages/strukt/test/prelude.dart
  packages/strukt/test/value_test.dart
Due: none

Remove.
  pubspec.yaml
Due: none

Regenerate.
  README.md
Due: none

Rename to package:codex.
  packages/codex/CHANGELOG.md
  packages/codex/LICENSE
  packages/codex/README.md
  packages/codex/dart_test.yaml
  packages/codex/lib/scrawl.dart
  packages/codex/lib/src/value.dart
  packages/codex/lib/src/value/_bool.dart
  packages/codex/lib/src/value/_bytes.dart
  packages/codex/lib/src/value/_double.dart
  packages/codex/lib/src/value/_int.dart
  packages/codex/lib/src/value/_list.dart
  packages/codex/lib/src/value/_map.dart
  packages/codex/lib/src/value/_none.dart
  packages/codex/lib/src/value/_record.dart
  packages/codex/lib/src/value/_string.dart
  packages/codex/pubspec.yaml
  packages/scrawl/lib/src/value.dart
  packages/scrawl/lib/src/value/_bytes.dart
  packages/scrawl/lib/src/value/_list.dart
  packages/scrawl/lib/src/value/_record.dart
  pubspec.yaml
Due: none

Finish the lowest level elements.
  packages/codex/lib/codex.dart
  packages/codex/lib/src/value.dart
  packages/codex/lib/src/value/_bytes.dart
  packages/codex/lib/src/value/_list.dart
  packages/codex/lib/src/value/_map.dart
  packages/codex/lib/src/value/_record.dart
  packages/codex/test/prelude.dart
  packages/codex/test/value_test.dart
Due: none

++
  .github/workflows/package_codex.yaml
  README.md
  packages/codex/CHANGELOG.md
  packages/codex/README.md
Due: none

Add schema and tags.
  packages/codex/lib/codex.dart
  packages/codex/lib/src/schema.dart
  packages/codex/lib/src/value.dart
  packages/codex/test/schema_test.dart
  packages/codex/test/value_test.dart
Due: none

More WIP.
  packages/codex/lib/codex.dart
  packages/codex/lib/src/codec.dart
  packages/codex/lib/src/codec/_json_array.dart
  packages/codex/lib/src/message.dart
  packages/codex/lib/src/schema.dart
  packages/codex/lib/src/schema/_builder.dart
  packages/codex/lib/src/schema/_field.dart
  packages/codex/lib/src/schema/_tag.dart
  packages/codex/lib/src/value.dart
  packages/codex/lib/src/value/_bool.dart
  packages/codex/lib/src/value/_bytes.dart
  packages/codex/lib/src/value/_double.dart
  packages/codex/lib/src/value/_int.dart
  packages/codex/lib/src/value/_list.dart
  packages/codex/lib/src/value/_map.dart
  packages/codex/lib/src/value/_none.dart
  packages/codex/lib/src/value/_string.dart
  packages/codex/lib/src/value/_tag.dart
  packages/codex/test/message_test.dart
  packages/codex/test/schema_test.dart
  packages/codex/test/value_test.dart
Due: none

++
  .github/workflows/package_scrawl.yaml
Due: none

Path conditions:
  chore: any of: packages/chore/**
  iota: any of: packages/iota/**
  jsonut: any of: packages/jsonut/**
  lore: any of: packages/lore/**
  mansion: any of: packages/mansion/**
  oath: any of: packages/oath/**
  proc: any of: packages/proc/**
  quirk: any of: packages/quirk/**
  sdk: any of: packages/sdk/**
  strink: any of: packages/strink/**
