Repository matanlurey/pub.lurey.dev: changes, and which Codecov flags are due for each by the changed paths.
All: chore, iota, jsonut, lore, mansion, oath, proc, quirk, sdk, strink

codecov.yaml:

# Generated by `chore`.

# https://docs.codecov.com/docs/carryforward-flags
flags:
  chore:
    paths:
      - packages/chore/**
    carryforward: true
  iota:
    paths:
      - packages/iota/**
    carryforward: true
  jsonut:
    paths:
      - packages/jsonut/**
    carryforward: true
  lore:
    paths:
      - packages/lore/**
    carryforward: true
  mansion:
    paths:
      - packages/mansion/**
    carryforward: true
  oath:
    paths:
      - packages/oath/**
    carryforward: true
  proc:
    paths:
      - packages/proc/**
    carryforward: true
  quirk:
    paths:
      - packages/quirk/**
    carryforward: true
  sdk:
    paths:
      - packages/sdk/**
    carryforward: true
  strink:
    paths:
      - packages/strink/**
    carryforward: true

Fix a bug in how chore dartdoc works on CI.
  packages/chore/lib/src/command/dartdoc.dart
Due: chore

And of course, actually fix the dartdoc preview bug.
  packages/chore/lib/src/command/dartdoc.dart
Due: chore

Publish an initial release of package:quirk.
  .github/workflows/package_quirk.yaml
  README.md
  packages/quirk/CHANGELOG.md
  packages/quirk/README.md
  packages/quirk/lib/quirk.dart
  packages/quirk/lib/src/errors.dart
  packages/quirk/lib/src/iterable_extension.dart
  packages/quirk/lib/src/set_extension.dart
  packages/quirk/pubspec.yaml
  packages/quirk/test/iterable_extension_test.dart
Due: quirk

Fix a bug where a package has never been published previously.
  packages/chore/lib/src/internal/pub_service.dart
  packages/chore/test/pub_service_test.dart
Due: chore

Add optional arguments toSetRejectDuplicates.
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/src/iterable_extension.dart
  packages/quirk/test/iterable_extension_test.dart
Due: quirk

Fix a bug in dartdoc preview for a single package.
  packages/chore/bin/chore.dart
  packages/chore/lib/src/command/dartdoc.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/runner.dart
Due: chore

Actually fix dartdoc without breaking preview.
  packages/chore/lib/src/command/dartdoc.dart
Due: chore

Upgrade package:oath, and change to path dependencies in monorepo.
  packages/chaos/pubspec.yaml
  packages/lodim/pubspec.yaml
  packages/lore/pubspec.yaml
  packages/mansion/pubspec.yaml
  packages/mirage/pubspec.yaml
  packages/oath/CHANGELOG.md
  packages/oath/lib/flutter/relaxed.yaml
  packages/oath/lib/strict.yaml
  packages/oath/pubspec.yaml
  packages/sector/example/demo/pubspec.yaml
  packages/sector/pubspec.yaml
  pubspec.yaml
Due: lore, mansion, oath

Remove example from monorepo.
  packages/sector/example/demo/pubspec.yaml
  pubspec.yaml
Due: none

Add quirk strings.
  packages/quirk/lib/quirk.dart
  packages/quirk/lib/src/string_extension.dart
  packages/quirk/test/iterable_extension_test.dart
  packages/quirk/test/string_extension_test.dart
Due: quirk

Remove path: oath from pubspec files.
  packages/chaos/pubspec.yaml
  packages/lodim/pubspec.yaml
  packages/lore/pubspec.yaml
  packages/mansion/pubspec.yaml
  packages/mirage/pubspec.yaml
  packages/sector/pubspec.yaml
  pubspec.yaml
Due: lore, mansion

Update lint sets for package:oath.
  packages/oath/CHANGELOG.md
  packages/oath/lib/strict.yaml
  packages/oath/pubspec.yaml
Due: oath

Fix all pubspecs.
  packages/chore/lib/src/command/check.dart
  packages/chore/lib/src/command/check/dart_analyze.dart
  packages/chore/lib/src/command/check/dart_format.dart
  packages/chore/lib/src/command/check/pubspec_version_sync.dart
  packages/chore/pubspec.yaml
  packages/jsonut/pubspec.yaml
  packages/lodim/pubspec.yaml
  packages/lore/pubspec.yaml
  packages/mansion/pubspec.yaml
  packages/mirage/pubspec.yaml
  packages/oath/pubspec.yaml
  packages/quirk/pubspec.yaml
Due: chore, jsonut, lore, mansion, oath, quirk

Update strict.yaml
  packages/oath/lib/strict.yaml
Due: oath

Fix package:lore, it is not publishable right now.
  packages/lore/pubspec.yaml
Due: lore

Fix pubspec_version_sync.
  packages/chore/lib/src/command/check/pubspec_version_sync.dart
Due: chore

Regenerate and add checks.
  .github/workflows/package_chaos.yaml
  .github/workflows/package_chore.yaml
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lodim.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_mirage.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_quirk.yaml
  .github/workflows/package_sdk.yaml
  .github/workflows/package_sector.yaml
  .github/workflows/package_strink.yaml
  .github/workflows/package_webby.yaml
  .github/workflows/root.yaml
  README.md
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/github_package_workflow.dart
  packages/chore/lib/src/context.dart
  packages/lore/README.md
Due: chore, lore

Another CI fix.
  .github/workflows/root.yaml
  dev/lib/src/generators/github_package_workflow.dart
Due: none

Actually run the generator.
  .github/workflows/package_chaos.yaml
  .github/workflows/package_chore.yaml
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lodim.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_mirage.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_quirk.yaml
  .github/workflows/package_sdk.yaml
  .github/workflows/package_sector.yaml
  .github/workflows/package_strink.yaml
  .github/workflows/package_webby.yaml
Due: none

Fix generation again.
  dev/bin/dev.dart
  dev/lib/src/commands/generate.dart
  packages/chore/bin/chore.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/runner.dart
Due: chore

Update generation script.
  dev/lib/src/commands/generate.dart
Due: none

Update generate.
  dev/lib/src/commands/generate.dart
Due: none

Add package:omen and cleanup the repo a bit.
  .github/workflows/package_omen.yaml
  README.md
  packages/chaos/.gitignore
  packages/lodim/.gitignore
  packages/lodim/chore
  packages/omen/CHANGELOG.md
  packages/omen/LICENSE
  packages/omen/README.md
  packages/omen/analysis_options.yaml
  packages/omen/dart_test.yaml
  packages/omen/example/analysis_options.yaml
  packages/omen/example/main.dart
  packages/omen/lib/omen.dart
  packages/omen/lib/src/code_unit_distribution.dart
  packages/omen/lib/src/distribution.dart
  packages/omen/lib/src/list_distribution.dart
  packages/omen/pubspec.yaml
  packages/omen/test/_prelude.dart
  packages/omen/test/distribution/always_test.dart
  packages/omen/test/distribution/code_unit_test.dart
  packages/omen/test/distribution/generate_test.dart
  packages/omen/test/distribution/list_test.dart
  pubspec.yaml
Due: none

More cleanup.:
  packages/mirage/.gitignore
  packages/sector/.gitignore
Due: none

Update workflow.
  .github/workflows/package_omen.yaml
Due: none

Fix mispelling.
  packages/omen/README.md
  packages/omen/pubspec.yaml
Due: none

Add `package:omen` and do some repository TLC (#23)
  .github/workflows/package_omen.yaml
  README.md
  packages/chaos/.gitignore
  packages/lodim/.gitignore
  packages/lodim/chore
  packages/mirage/.gitignore
  packages/omen/CHANGELOG.md
  packages/omen/LICENSE
  packages/omen/README.md
  packages/omen/analysis_options.yaml
  packages/omen/dart_test.yaml
  packages/omen/example/analysis_options.yaml
  packages/omen/example/main.dart
  packages/omen/lib/omen.dart
  packages/omen/lib/src/code_unit_distribution.dart
  packages/omen/lib/src/distribution.dart
  packages/omen/lib/src/list_distribution.dart
  packages/omen/pubspec.yaml
  packages/omen/test/_prelude.dart
  packages/omen/test/distribution/always_test.dart
  packages/omen/test/distribution/code_unit_test.dart
  packages/omen/test/distribution/generate_test.dart
  packages/omen/test/distribution/list_test.dart
  packages/sector/.gitignore
  pubspec.yaml
Due: none

Publish an initial package:omen.
  .github/workflows/package_omen.yaml
  README.md
  packages/omen/README.md
  packages/omen/pubspec.yaml
Due: none

Update package:quirk.
  packages/quirk/CHANGELOG.md
  packages/quirk/lib/quirk.dart
  packages/quirk/lib/src/errors.dart
  packages/quirk/lib/src/iterable_extension.dart
  packages/quirk/lib/src/set_extension.dart
  packages/quirk/pubspec.yaml
  packages/quirk/test/_prelude.dart
  packages/quirk/test/errors_test.dart
  packages/quirk/test/iterable_extension_test.dart
  packages/quirk/test/string_extension_test.dart
Due: quirk

Update package:lodim.
  packages/lodim/CHANGELOG.md
  packages/lodim/lib/lodim.dart
  packages/lodim/lib/src/check.dart
  packages/lodim/lib/src/pos.dart
  packages/lodim/pubspec.yaml
Due: none

Fix documentation.
  packages/mansion/doc/best_practices.md
Due: mansion

Enhances package:omen, fixes a bug in package:chaos.
  packages/chaos/CHANGELOG.md
  packages/chaos/dart_test.yaml
  packages/chaos/lib/src/seedable_generator.dart
  packages/chaos/lib/src/sequence_random.dart
  packages/chaos/test/seedable_generator_test.dart
  packages/chaos/test/sequence_random_test.dart
  packages/chore/lib/src/command/check/pubspec_version_sync.dart
  packages/omen/CHANGELOG.md
  packages/omen/lib/omen.dart
  packages/omen/lib/src/code_unit_distribution.dart
  packages/omen/lib/src/dice.dart
  packages/omen/lib/src/distribution.dart
  packages/omen/lib/src/list_distribution.dart
  packages/omen/lib/src/shuffler.dart
  packages/omen/pubspec.yaml
  packages/omen/test/dice_test.dart
  packages/omen/test/distribution/code_unit_test.dart
  packages/omen/test/distribution/generate_test.dart
  packages/omen/test/distribution/list_test.dart
  packages/omen/test/shuffler_test.dart
Due: chore

Update dependencies, fix a test bug in package:mirage.
  packages/mirage/CHANGELOG.md
  packages/mirage/test/noise_test.dart
  packages/mirage/test/planar_test.dart
  packages/omen/pubspec.yaml
  pubspec.yaml
Due: none

Publish 0.1.2+3.
  packages/chaos/pubspec.yaml
  pubspec.yaml
Due: none

Start package:trove, and update package:omen.
  packages/omen/lib/src/shuffler.dart
  packages/trove/CHANGELOG.md
  packages/trove/LICENSE
  packages/trove/README.md
  packages/trove/analysis_options.yaml
  packages/trove/dart_test.yaml
  packages/trove/example/analysis_options.yaml
  packages/trove/example/main.dart
  packages/trove/lib/src/playing_card.dart
  packages/trove/lib/src/reverse_list_view.dart
  packages/trove/lib/trove.dart
  packages/trove/pubspec.yaml
  packages/trove/test/_prelude.dart
  packages/trove/test/playing_card_test.dart
  pubspec.yaml
Due: none

Update and fix CI.
  .github/workflows/package_chaos.yaml
  .github/workflows/package_chore.yaml
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lodim.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_mirage.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_quirk.yaml
  .github/workflows/package_sdk.yaml
  .github/workflows/package_sector.yaml
  .github/workflows/package_strink.yaml
  .github/workflows/package_trove.yaml
  .github/workflows/package_webby.yaml
  README.md
  dev/lib/src/generators/github_package_workflow.dart
  packages/trove/README.md
Due: none
