Repository matanlurey/pub.lurey.dev: changes, and which Codecov flags are due for each by the changed paths.
All: chore, iota, jsonut, lore, mansion, oath, proc, quirk, sdk, strink

++
  codecov.yaml
Due: none

Try to fix upload errors, tweak things a bit. (#9)
  codecov.yaml
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/codecov_yaml.dart
  packages/chore/test/_prelude.dart
  packages/chore/test/dart_test_config_test.dart
  packages/chore/test/noop_test.dart
  packages/iota/lib/iota.dart
  packages/iota/lib/src/impl/io.dart
  packages/iota/lib/src/impl/web.dart
  packages/iota/test/noop_test.dart
  packages/oath/lib/src/_noop.dart
  packages/oath/test/noop_test.dart
Due: chore, iota, oath

Remove unused generator.
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/codecov_yaml.dart
Due: none

Tweak command.
  dev/bin/dev.dart
  packages/chore/lib/src/command/check.dart
Due: chore

Improve pkg/chore.
  packages/chore/bin/chore.dart
  packages/chore/lib/chore.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/internal/dart_test_config.dart
  packages/chore/lib/src/package.dart
  packages/chore/lib/src/runner.dart
  packages/chore/pubspec.yaml
  packages/chore/test/_prelude.dart
  packages/chore/test/e2e/_sandbox.dart
  packages/chore/test/e2e/single_dart_package_test.dart
Due: chore

Fix coverage command test.
  packages/chore/test/e2e/_sandbox.dart
  packages/chore/test/e2e/single_dart_package_test.dart
Due: chore

Fix coverage scoping.
  dev/bin/dev.dart
  dev/lib/src/commands/generate.dart
  packages/chore/bin/chore.dart
  packages/chore/lib/src/command/base.dart
  packages/chore/lib/src/command/check.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/command/test.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/runner.dart
Due: chore

Fix missing file.
  packages/chore/lib/src/command/check.dart
Due: chore

Exclude e2e tests from coverage in packages/chore.
  packages/chore/dart_test.yaml
  packages/chore/test/_prelude.dart
  packages/chore/test/e2e/single_dart_package_test.dart
Due: chore

Update README and use globalResults.
  .github/workflows/package_webby.yaml
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/package_readme.dart
  packages/chore/lib/src/command/base.dart
  packages/chore/lib/src/command/check.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/command/test.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/runner.dart
  packages/iota/README.md
  packages/jsonut/README.md
  packages/lore/README.md
  packages/mansion/README.md
  packages/oath/README.md
  packages/proc/README.md
  packages/webby/README.md
Due: chore, iota, jsonut, lore, mansion, oath, proc

Update `README.md`s and use `globalResults`. (#10)
  .github/workflows/package_webby.yaml
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/package_readme.dart
  packages/chore/lib/src/command/base.dart
  packages/chore/lib/src/command/check.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/command/test.dart
  packages/chore/lib/src/context.dart
  packages/chore/lib/src/runner.dart
  packages/iota/README.md
  packages/jsonut/README.md
  packages/lore/README.md
  packages/mansion/README.md
  packages/oath/README.md
  packages/proc/README.md
  packages/webby/README.md
Due: chore, iota, jsonut, lore, mansion, oath, proc

Add coverage preview and dartdoc commands/options.
  packages/chore/lib/chore.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/command/dartdoc.dart
  packages/chore/lib/src/environment.dart
  packages/chore/lib/src/preview.dart
  packages/chore/lib/src/runner.dart
  packages/chore/pubspec.yaml
Due: chore

Add `coverage` preview and `dartdoc` commands/options. (#11)
  packages/chore/lib/chore.dart
  packages/chore/lib/src/command/coverage.dart
  packages/chore/lib/src/command/dartdoc.dart
  packages/chore/lib/src/environment.dart
  packages/chore/lib/src/preview.dart
  packages/chore/lib/src/runner.dart
  packages/chore/pubspec.yaml
Due: chore

Remove unused file, stop checking in pubspec.lock.
  .gitignore
  packages/jsonut/chore
  packages/lore/chore
  packages/mansion/chore
  packages/oath/chore
  packages/proc/chore
  packages/quirk/chore
  packages/sdk/chore
  packages/webby/chore
  pubspec.lock
Due: jsonut, lore, mansion, oath, proc, quirk, sdk

Bump the SDK.
  pubspec.yaml
Due: none

Remove unused (`chore`) file, stop checking in `pubspec.lock`. (#12)
  .gitignore
  packages/jsonut/chore
  packages/lore/chore
  packages/mansion/chore
  packages/oath/chore
  packages/proc/chore
  packages/quirk/chore
  packages/sdk/chore
  packages/webby/chore
  pubspec.lock
  pubspec.yaml
Due: jsonut, lore, mansion, oath, proc, quirk, sdk

Prepare to publish oath 0.2.2.
  packages/oath/CHANGELOG.md
  packages/oath/pubspec.yaml
Due: oath

Update pubspec.
  packages/oath/pubspec.yaml
Due: oath

Prepare to publish oath 0.2.2. (#13)
  packages/oath/CHANGELOG.md
  packages/oath/pubspec.yaml
Due: oath

Add publish command, auto-publish on post-submit.
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_webby.yaml
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/github_package_workflow.dart
  packages/chore/lib/src/command/publish.dart
  packages/chore/lib/src/internal/pub_service.dart
  packages/chore/lib/src/internal/pubspec.dart
  packages/chore/lib/src/package.dart
  packages/chore/lib/src/runner.dart
  packages/chore/pubspec.yaml
  packages/chore/test/pub_service_test.dart
Due: chore

Add `publish` command, auto-publish on post-submit. (#14)
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_webby.yaml
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/github_package_workflow.dart
  packages/chore/lib/src/command/publish.dart
  packages/chore/lib/src/internal/pub_service.dart
  packages/chore/lib/src/internal/pubspec.dart
  packages/chore/lib/src/package.dart
  packages/chore/lib/src/runner.dart
  packages/chore/pubspec.yaml
  packages/chore/test/pub_service_test.dart
Due: chore

Implement and use PUB_CREDENTIALS.
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_webby.yaml
  dev/lib/src/generators/github_package_workflow.dart
  packages/chore/lib/src/command/publish.dart
Due: chore

Implement and use `PUB_CREDENTIALS`. (#15)
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_webby.yaml
  dev/lib/src/generators/github_package_workflow.dart
  packages/chore/lib/src/command/publish.dart
Due: chore

Test publish automation for package:oath.
  packages/oath/CHANGELOG.md
  packages/oath/pubspec.yaml
Due: oath

Import package:chaos.
  .github/workflows/package_chaos.yaml
  README.md
  packages/chaos/CHANGELOG.md
  packages/chaos/README.md
  packages/chaos/analysis_options.yaml
  packages/chaos/chore
  packages/chaos/example/analysis_options.yaml
  packages/chaos/lib/src/seedable_generator.dart
  packages/chaos/lib/src/xoroshiro.dart
  packages/chaos/pubspec.yaml
  packages/chaos/tool/ffi/xoshiro128p.dart
  packages/chaos/tool/ffi/xoshiro128pp.dart
  pubspec.yaml
Due: none

Add pkg/migrate, fix the tests maybe for pkg/chaos.
  .github/workflows/package_mirage.yaml
  packages/chaos/CHANGELOG.md
  packages/chaos/test/ffi_test.dart
  packages/chaos/test/src/prelude.dart
  packages/mirage/CHANGELOG.md
  packages/mirage/README.md
  packages/mirage/analysis_options.yaml
  packages/mirage/chore
  packages/mirage/pubspec.yaml
  pubspec.yaml
Due: none

Try tweaking cmake.
  packages/chaos/tool/compile_ffi.dart
Due: none

Add pkg/lodim.
  .github/workflows/package_lodim.yaml
  README.md
  packages/lodim/CHANGELOG.md
  packages/lodim/README.md
  packages/lodim/pubspec.yaml
  pubspec.yaml
Due: none

Try again.
  packages/chaos/tool/compile_ffi.dart
Due: none

++
  packages/lodim/pubspec.yaml
Due: none

Just exclude for now.
  packages/chaos/test/ffi_test.dart
Due: none

Try again.
  packages/chaos/test/ffi_test.dart
Due: none

Fix package:binary version range for package:chaos.
  packages/chaos/CHANGELOG.md
  packages/chaos/pubspec.yaml
Due: none

Tweak READMEs.
  dev/lib/src/generators/package_readme.dart
  packages/chaos/README.md
  packages/iota/README.md
  packages/jsonut/README.md
  packages/lodim/README.md
  packages/lore/README.md
  packages/mansion/README.md
  packages/mirage/README.md
  packages/oath/README.md
  packages/proc/README.md
  packages/sector/README.md
  packages/webby/README.md
Due: iota, jsonut, lore, mansion, oath, proc

Use setup script.
  dev/lib/src/generators/github_package_workflow.dart
  packages/chore/lib/src/command/setup.dart
  packages/chore/lib/src/internal/pubspec.dart
  packages/chore/lib/src/package.dart
  packages/chore/lib/src/runner.dart
Due: chore

Resolve flutter.
  .github/workflows/package_chaos.yaml
  .github/workflows/package_chore.yaml
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lodim.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_mirage.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_quirk.yaml
  .github/workflows/package_sdk.yaml
  .github/workflows/package_sector.yaml
  .github/workflows/package_strink.yaml
  .github/workflows/package_webby.yaml
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/github_package_workflow.dart
Due: none

++
  .github/workflows/package_chaos.yaml
  .github/workflows/package_chore.yaml
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lodim.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_mirage.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_quirk.yaml
  .github/workflows/package_sdk.yaml
  .github/workflows/package_sector.yaml
  .github/workflows/package_strink.yaml
  .github/workflows/package_webby.yaml
  dev/lib/src/generators/github_package_workflow.dart
Due: none

++
  .github/workflows/package_chaos.yaml
  .github/workflows/package_chore.yaml
  .github/workflows/package_iota.yaml
  .github/workflows/package_jsonut.yaml
  .github/workflows/package_lodim.yaml
  .github/workflows/package_lore.yaml
  .github/workflows/package_mansion.yaml
  .github/workflows/package_mirage.yaml
  .github/workflows/package_oath.yaml
  .github/workflows/package_proc.yaml
  .github/workflows/package_quirk.yaml
  .github/workflows/package_sdk.yaml
  .github/workflows/package_sector.yaml
  .github/workflows/package_strink.yaml
  .github/workflows/package_webby.yaml
  dev/lib/src/commands/generate.dart
  dev/lib/src/generators/github_package_workflow.dart
Due: none

Path conditions:
  chore: any of: packages/chore/**
  iota: any of: packages/iota/**
  jsonut: any of: packages/jsonut/**
  lore: any of: packages/lore/**
  mansion: any of: packages/mansion/**
  oath: any of: packages/oath/**
  proc: any of: packages/proc/**
  quirk: any of: packages/quirk/**
  sdk: any of: packages/sdk/**
  strink: any of: packages/strink/**
